server {
  listen 80;
  server_name _;

  root /usr/share/nginx/html;
  index index.html;

  location = /${SERVICE_NAME} {
    return 301 /${SERVICE_NAME}/;
  }

  location /${SERVICE_NAME}/assets/ {
    alias /usr/share/nginx/html/assets/;
    try_files $uri =404;
  }

  location /${SERVICE_NAME}/ {
    try_files $uri $uri/ /index.html;
  }
}
